# LaTeX temp files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.out
*.run.xml
*.slg
*.syg
*.syi
*.toc

# LaTeX output files
*.dvi
*.pdf
*.eps
*.ps

image/